<div class="{{cssClass}} item-sheet ship-item-sheet">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description --}}
        <div>
            <label>Description:</label>
            {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description" toggled=true }}
        </div>
    </section>
</div>
